In [1]:
from fastai.collab import *
from fastai.tabular import *
import numpy as np

In [2]:
ratings = pd.read_csv('./repoDBv1.csv')

In [3]:
ratings.head()

   drug_name                                          ind_name  rating
0  Lepirudin  Heparin-induced thrombocytopenia with thrombosis       1
1  Cetuximab                  Squamous cell carcinoma of mouth       1
2  Cetuximab                   Squamous cell carcinoma of nose       1
3  Cetuximab                Squamous cell carcinoma of pharynx       1
4  Cetuximab                 Laryngeal Squamous Cell Carcinoma       1

In [4]:
data = CollabDataBunch.from_df(ratings, seed=42)

In [113]:
ratings.head()

   drug_name                                          ind_name  rating
0  Lepirudin  Heparin-induced thrombocytopenia with thrombosis       1
1  Cetuximab                  Squamous cell carcinoma of mouth       1
2  Cetuximab                   Squamous cell carcinoma of nose       1
3  Cetuximab                Squamous cell carcinoma of pharynx       1
4  Cetuximab                 Laryngeal Squamous Cell Carcinoma       1

In [114]:
(macha, batcha), behen = next(iter(data.valid_dl))
print(macha,batcha,behen)

tensor([1092,  325,  696,  237, 1013, 1207, 1436,  338,  148,  555,  590, 1087,
         238,  843,  287,  374,  443, 1249,  984,    0,  766,    0,  288,  806,
         266,  334, 1093, 1254,  280,   76,  597,  129, 1301,  978,  438,  969,
         248,  756,    0, 1439,   71,  591, 1301,  729,  521, 1259,  248,  758,
         498, 1375, 1014,  841, 1094, 1233,    0, 1217,  117,  841,  327,  740,
        1123, 1087,  618,  914], device='cuda:0') tensor([1604, 1267,  592, 1314, 1111,  737, 1473,  969, 1892, 1793,    0, 1739,
        1561,  720,   37,  343,  388,    0, 1169,    0,    0, 1382,    0, 1489,
         666, 1065, 1776,   47,  189, 1392,   31, 1218, 1392, 1075,  300, 1520,
        1207,  744,  919,    0,   31, 1271,  914, 1358, 1507,  324,  637, 1174,
        1647,   47, 1118, 1056,  611, 1879,  437,  827, 1251, 1793,  379, 1506,
         205, 1751,  186,  735], device='cuda:0') tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1.], device='cuda:0')

In [115]:
y_range = [0,1.1]

In [116]:
ratings.head()

   drug_name                                          ind_name  rating
0  Lepirudin  Heparin-induced thrombocytopenia with thrombosis       1
1  Cetuximab                  Squamous cell carcinoma of mouth       1
2  Cetuximab                   Squamous cell carcinoma of nose       1
3  Cetuximab                Squamous cell carcinoma of pharynx       1
4  Cetuximab                 Laryngeal Squamous Cell Carcinoma       1

In [117]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [118]:
learn.fit_one_cycle(3, 5e-3)

## Testing with a different y_range ...

In [5]:
y_range = [-.99,1.1]

In [6]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [7]:
learn.fit_one_cycle(3, 5e-3)

In [8]:
learn.save('dotprod')

In [9]:
learn.load('dotprod');

In [10]:
learn.model

EmbeddingDotBias(
  (u_weight): Embedding(1445, 50)
  (i_weight): Embedding(1904, 50)
  (u_bias): Embedding(1445, 1)
  (i_bias): Embedding(1904, 1)
)

In [11]:
learn.predict(ratings.loc[1])

(FloatItem 0.7174262, tensor(0.7174), tensor(0.7174))

In [12]:
data.show_batch()

In [13]:
ratings.head()

   drug_name                                          ind_name  rating
0  Lepirudin  Heparin-induced thrombocytopenia with thrombosis       1
1  Cetuximab                  Squamous cell carcinoma of mouth       1
2  Cetuximab                   Squamous cell carcinoma of nose       1
3  Cetuximab                Squamous cell carcinoma of pharynx       1
4  Cetuximab                 Laryngeal Squamous Cell Carcinoma       1

In [14]:
learn.model

EmbeddingDotBias(
  (u_weight): Embedding(1445, 50)
  (i_weight): Embedding(1904, 50)
  (u_bias): Embedding(1445, 1)
  (i_bias): Embedding(1904, 1)
)

Below cell is from https://jovian.ml/aakashns/5bc23520933b4cc187cfe18e5dd7e2ed

In [134]:
(chumma, jumma), gandu = next(iter(data.valid_dl))
preds = learn.model(chumma, jumma)
print('Real\tPred\tDifference')
for p in list(zip(gandu, preds))[:5]:
    print('{}\t{:.1f}\t{:.1f}'.format(p[0],p[1],p[1]-p[0]))

Real	Pred	Difference
1.0	1.0	-0.0
1.0	1.0	-0.0
1.0	0.5	-0.5
1.0	1.0	-0.0
1.0	0.4	-0.6

In [15]:
learn.predict(ratings.loc[2])

(FloatItem 0.5282059, tensor(0.5282), tensor(0.5282))

In [16]:
ratings.tail()

          drug_name        ind_name  rating
10557  Temozolomide    CNS disorder       1
10558     Dasatinib    CNS disorder       1
10559   Dacarbazine  Brain Diseases       1
10560  Temozolomide  Brain Diseases       1
10561     Dasatinib  Brain Diseases       1

In [17]:
learn.predict(ratings.loc[10561])

(FloatItem 0.567608, tensor(0.5676), tensor(0.5676))

In [18]:
ratings.loc[10561]

drug_name         Dasatinib
ind_name     Brain Diseases
rating                    1
Name: 10561, dtype: object

In [19]:
test1 = pd.read_csv('./test1.csv')

In [20]:
test1.head()

,drug_name,ind_name,rating,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Dasatinib,Chronic left ventricular failure,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,t

In [21]:
learn.predict(test1.loc[0])

(FloatItem 0.29350424, tensor(0.2935), tensor(0.2935))

## Covid Experiments Start Here ...

In [22]:
ratings = pd.read_csv('./repoDBV2.csv')

In [23]:
ratings.tail()

          drug_name        ind_name  rating
10560  Temozolomide  Brain Diseases       1
10561     Dasatinib  Brain Diseases       1
10562   Chloroquine        COVID-19       1
10563     Ritonavir        COVID-19       1
10564     Lopinavir        COVID-19       1

In [24]:
data = CollabDataBunch.from_df(ratings, seed=42)

In [25]:
y_range = [-.99,1.1]

In [26]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [27]:
learn.fit_one_cycle(4, 5e-3)

In [28]:
learn.predict(ratings.loc[10562])

(FloatItem 0.54899156, tensor(0.5490), tensor(0.5490))

In [29]:
COVID_CANDIDATES = pd.read_csv('./COVID-CANDIDATES.csv')

In [30]:
COVID_CANDIDATES.head()

             drug_name  ind_name  rating
0            Lepirudin  COVID-19     NaN
1            Cetuximab  COVID-20     NaN
2         Dornase alfa  COVID-21     NaN
3  Denileukin diftitox  COVID-22     NaN
4           Etanercept  COVID-23     NaN

In [31]:
learn.predict(COVID_CANDIDATES.loc[0])

(FloatItem 0.123506546, tensor(0.1235), tensor(0.1235))

In [33]:
for i in range(10):
    print(learn.predict(COVID_CANDIDATES.loc[i]))

(FloatItem 0.123506546, tensor(0.1235), tensor(0.1235))
(FloatItem 0.23222184, tensor(0.2322), tensor(0.2322))
(FloatItem 0.100043535, tensor(0.1000), tensor(0.1000))
(FloatItem 0.16906857, tensor(0.1691), tensor(0.1691))
(FloatItem 0.1431545, tensor(0.1432), tensor(0.1432))
(FloatItem 0.14960659, tensor(0.1496), tensor(0.1496))
(FloatItem 0.15087247, tensor(0.1509), tensor(0.1509))
(FloatItem 0.14660025, tensor(0.1466), tensor(0.1466))
(FloatItem 0.106147766, tensor(0.1061), tensor(0.1061))
(FloatItem 0.17349231, tensor(0.1735), tensor(0.1735))

In [36]:
for i in range(10):
    print(COVID_CANDIDATES.loc[i][0], learn.predict(COVID_CANDIDATES.loc[i])[0])

Lepirudin 0.123506546
Cetuximab 0.23222184
Dornase alfa 0.100043535
Denileukin diftitox 0.16906857
Etanercept 0.1431545
Leuprolide 0.14960659
Peginterferon alfa-2a 0.15087247
Alteplase 0.14660025
Sermorelin 0.106147766
Erythropoietin 0.17349231

In [39]:
test_df = pd.DataFrame(
    [COVID_CANDIDATES.loc[i][0], learn.predict(COVID_CANDIDATES.loc[i])[0]] for i in range(10)
)

In [40]:
test_df.head()

                     0            1
0            Lepirudin  0.123506546
1            Cetuximab   0.23222184
2         Dornase alfa  0.100043535
3  Denileukin diftitox   0.16906857
4           Etanercept    0.1431545

In [173]:
#drug_names = pd.DataFrame(ratings.drug_name.unique())

In [174]:
#drug_names.shape

(1572, 1)

In [176]:
#drug_names.to_csv('drug_names.csv')

#### Here goes all or nothing ...

In [41]:
drug_names = pd.read_csv('./drug_names.csv')

In [42]:
drug_names.head()

             drug_name  ind_name  rating
0            Lepirudin  COVID-19     NaN
1            Cetuximab  COVID-19     NaN
2         Dornase alfa  COVID-19     NaN
3  Denileukin diftitox  COVID-19     NaN
4           Etanercept  COVID-19     NaN

In [44]:
drug_names.shape[0]

1572

In [61]:
drugs_df = pd.DataFrame(
    [drug_names.loc[i][0], learn.predict(drug_names.loc[i])[0]] for i in range(drug_names.shape[0])
)

In [62]:
drugs_df.head()

                     0            1
0            Lepirudin  0.123506546
1            Cetuximab     0.493711
2         Dornase alfa   0.16254866
3  Denileukin diftitox   0.44124007
4           Etanercept   0.35388684

In [63]:
print(drugs_df)

                                              0            1
0                                     Lepirudin  0.123506546
1                                     Cetuximab     0.493711
2                                  Dornase alfa   0.16254866
3                           Denileukin diftitox   0.44124007
4                                    Etanercept   0.35388684
5                                    Leuprolide   0.37832224
6                         Peginterferon alfa-2a   0.19258285
7                                     Alteplase    0.1603396
8                                    Sermorelin   0.17761981
9                                     Urokinase   0.16710973
10                                    Goserelin   0.27051878
11                                    Reteplase   0.14438796
12                               Erythropoietin   0.22071195
13                            Salmon Calcitonin   0.31348598
14                                Pegfilgrastim    0.5208006
15                                 Sargramostim   0.18860686
16                        Peginterferon alfa-2b   0.34345162
17                                 Asparaginase   0.40804994
18                                     Anakinra   0.09333694
19                                 Gramicidin D   0.21768296
20                                Insulin Human   0.22443616
21                                 Tenecteplase      0.15247
22                                 Desmopressin   0.20661724
23    Coagulation factor VIIa Recombinant Human   0.17118287
24                                   Oprelvekin    0.4616096
25                                   Palifermin    0.1492629
26                         Glucagon recombinant   0.19883025
27                                  Aldesleukin   0.59849787
28                                   Omalizumab   0.28387094
29                               Insulin Lispro   0.17308724
...                                         ...          ...
1542               Hydroxyprogesterone caproate   0.19033456
1543                              Rosiglitazone   0.16516948
1544                                  Piracetam   0.27354228
1545                                   Ketamine   0.23820388
1546                                    Ethanol   0.25304496
1547                                 Zonisamide    0.2047019
1548                                Sulfadoxine     0.146227
1549                                  Exenatide    0.3217703
1550                                  Sevelamer   0.21041036
1551                                Flucytosine  0.122184634
1552                               Somatostatin   0.25110388
1553                            Dexmedetomidine    0.1724534
1554                                   Propofol   0.20151532
1555                                Dimetindene   0.14394522
1556                                  Lapatinib   0.42853355
1557                                Pramlintide   0.20605266
1558                                  Etomidate   0.18163669
1559                               Terlipressin   0.21351397
1560                                Varenicline   0.21477628
1561                            Levobupivacaine    0.1217376
1562                                Sevoflurane   0.14942062
1563                               Alitretinoin  0.123506546
1564                                  Ezogabine    0.2417326
1565                                  Ganirelix   0.13164508
1566                                Rivaroxaban  0.123506546
1567                              Nitrous oxide   0.17808485
1568                            Acetylcarnitine   0.16923487
1569                    Eslicarbazepine acetate  0.123506546
1570                               Nitrendipine  0.123506546
1571                            Succinylcholine    0.2901765

[1572 rows x 2 columns]

In [57]:
drugs_df.sort_values(0)

                            0            1
790                  Abacavir  0.123506546
61                   Abarelix   0.16453528
978                 Abatacept    0.3703103
1530                Abciximab   0.27282202
1153              Abiraterone   0.23082745
477               Acamprosate    0.1855582
179                  Acarbose   0.15799558
905                Acebutolol   0.19155157
1070           Aceprometazine   0.11617029
202             Acetaminophen   0.25511813
605             Acetazolamide   0.23237371
1087              Acetic acid  0.123506546
387      Acetohydroxamic Acid    0.1651547
801            Acetophenazine   0.13465238
1568          Acetylcarnitine   0.16923487
1159           Acetylcysteine   0.39750016
707      Acetylsalicylic acid   0.33655953
581                 Aciclovir   0.16600084
320                 Acitretin   0.21831238
1312               Aclidinium   0.16900694
1487              Acrivastine    0.1670258
33                 Adalimumab    0.4803555
121                 Adapalene  0.123506546
528        Adefovir Dipivoxil  0.123506546
459                 Adenosine    0.2499876
74    Adenosine monophosphate    0.1904788
1124            Afamelanotide  0.123506546
1328                 Afatinib   0.21195638
1303              Aflibercept    0.3100705
59            Agalsidase beta   0.17800188
...                       ...          ...
243               Vinorelbine    0.2415787
1287               Vismodegib   0.14586711
87                  Vitamin A   0.15399086
71                  Vitamin C    0.3295158
88                  Vitamin E   0.22839522
1114                Voglibose   0.15388882
1351                Vorapaxar   0.23837376
412              Voriconazole   0.11503863
1083               Vorinostat   0.50368845
1376             Vortioxetine  0.123506546
497                  Warfarin   0.25685108
77                Xanthophyll   0.17923272
1223           Xylometazoline   0.14629829
385               Zafirlukast  0.123506546
706               Zalcitabine   0.31403875
721                  Zaleplon   0.22760987
393                 Zanamivir   0.12629974
1184               Ziconotide   0.22842324
347                Zidovudine   0.31581104
547                  Zileuton   0.09216416
1461               Zinc oxide    0.2715472
1462             Zinc sulfate   0.20994377
149               Ziprasidone   0.20191598
273           Zoledronic acid   0.35903716
201              Zolmitriptan   0.17951882
293                  Zolpidem   0.10413778
1547               Zonisamide    0.2047019
910                 Zopiclone   0.13526678
1295     gabapentin enacarbil   0.19533896
1218                golimumab   0.31450915

[1572 rows x 2 columns]

In [64]:
drugs_df.to_csv('drug_names.csv')

In [65]:
drugs_df_read = pd.read_csv('drug_names.csv')

In [66]:
drugs_df_read.head()

   Unnamed: 0                    0         1
0           0            Lepirudin  0.123507
1           1            Cetuximab  0.493711
2           2         Dornase alfa  0.162549
3           3  Denileukin diftitox  0.441240
4           4           Etanercept  0.353887

In [69]:
drugs_df_read.sort_values('1').tail(10)

      Unnamed: 0                 0         1
1054        1054        Everolimus  0.610913
372          372  Cyclophosphamide  0.615500
360          360         Cisplatin  0.629894
640          640      Prednisolone  0.630022
455          455        Prednisone  0.643841
939          939     Dexamethasone  0.648819
752          752       Doxorubicin  0.657847
895          895        Ifosfamide  0.673293
306          306       Gemcitabine  0.682272
103          103        Bortezomib  0.705182